<div class="container-fluid">
        <hr>
        <div class="one">
            <h1>Jiggy Jaggah Quotes</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-quote-form class="headstyle" (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
            <div class="col-md-6">
                <marquee behavior="" direction="bottom">
                     <h2>Checkout Most Famous Quotes Below:</h2>
                </marquee>
                
                <div *ngFor='let quote of quotes;let i = index' >
                    <div *ngIf='quote.showDescription'>
                        <app-quote-detail class="headstyle" [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                        </app-quote-detail>
                    </div>
                    <div *ngIf='quote.publisher'>
                        <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                        </app-quote-detail>
                    </div>
                    <div class="headstyle">
                        <div>
                            <button r (click)='toggleDetails(i)' class="btn btn-primary"
                                > Click for Description
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            
        
    </div>