@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-image: url("https://previews.123rf.com/images/tonsofbackgrounds/tonsofbackgrounds1707/tonsofbackgrounds170700328/82571266-blue-pink-green-beautiful-gradient-colors-blend-background-design-in-high-resolution-soft-colors-for.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fi;
}
h1 {
    
}