@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-image: url("http://www.scalsys.com/wallpapers/teal-wallpapers/teal-wallpapers_360571.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fi;
}